[submodule "bulk"]
	path = bulk
	url = https://github.com/FelixEcker/bulk.git
[submodule "mcfg"]
	path = mcfg
	url = https://github.com/FelixEcker/mcfg.git
[submodule "mb"]
	path = mb
	url = https://github.com/FelixEcker/mariebuild.git
[submodule "sadsuite"]
	path = sadsuite
	url = https://github.com/FelixEcker/sad.git
[submodule "pasfetch"]
	path = pasfetch
	url = https://github.com/FelixEcker/pasfetch.git
